@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.UserPfp {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.UserPfp:hover {
    transform: scale(1.1);
}